body {
    display: block;
    max-width: 1200px;
    margin: auto !important;
}
h1 {
    font-family: 'Lobster', cursive;
    text-align: center;
    padding: 0px;
    margin: 0px;
}

.mypicture img {
    position: relative;
    width: 180px;
    border-radius: 5px;
    margin-top: 2px;
}

main {
    min-height: 430px;
}

header, footer {
    background-color: #79443b;
    color: #f5f5dc;
    text-align: center;
    padding: 12px;
    margin: 5px;
    border-radius: 5px;
    font-family: Cambria;
}

.footerstyle a {
    color:#f5fffa;
}
.sectionstyle {
    font-family: Chowderhead;
    font-size: 19px;
    padding-top: 50px;
}

.sectionstyle ul li {
    font-size: 17px;
}

#lastModified{
    color: #ffff66;  
}