h1 {
    font-family: 'Lobster', cursive;
    color: #ff6347;
    text-align: center;
    padding: 0px;
    margin: 0px;
}

.mypicture img {
    position: relative;
    width: 180px;
    border-radius: 5px;
    top: 0px;
}

main {
    min-height: 505px;
}

header, footer {
    background-color: #add8e6;
    color: #ff6347;
    text-align: center;
    padding: 12px;
    margin: 5px;
    border-radius: 5px;
    font-family: Cambria;
}

.sectionstyle {
    font-family: Chowderhead;
    font-size: 19px;
    padding-top: 50px;
}

.sectionstyle ul li {
    font-size: 17px;
}

#lastModified{
    color: #808080;  
}