body {
  font-family: "Comic Neue", cursive;
  background: #ffffff;
  color: #4e5356;
  font-size: 18px;
}

p {
  text-align: justify;
}

h1, h2, h3, h4, h5, h6, .footer-header {
  font-family: "Lilita One", cursive;
  text-transform: uppercase;
}

.mainlogo {
  max-width: 100px;
  width: 100%;
  margin: auto;
  display: block;
}

.pagetitle-section {
  padding: .5em 1em .5em 1em;
  background: radial-gradient(#DAEEE9, #11101000);
}

.pagetitle-section h1 {
  -webkit-margin-before: 0em;
          margin-block-start: 0em;
  -webkit-margin-after: 0em;
          margin-block-end: 0em;
}

.footer-header {
  font-size: 1.6em;
}

header {
  padding: 1em;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
}

header.active {
  background-color: #24292ec7;
}

.navigation {
  -webkit-margin-before: 0em;
          margin-block-start: 0em;
  -webkit-margin-after: 0em;
          margin-block-end: 0em;
  -webkit-margin-start: 0px;
          margin-inline-start: 0px;
  -webkit-margin-end: 0px;
          margin-inline-end: 0px;
  -webkit-padding-start: 0px;
          padding-inline-start: 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.navigation li {
  font-family: "Lilita One", cursive;
  list-style: none;
  display: inline-block;
  padding: .5em;
}

.navigation li a {
  font-family: "Lilita One", cursive;
  color: #ffffff;
  text-decoration: none;
}

.navigation li a:hover {
  color: #64baa1;
  -webkit-transition: font-size .5s ease;
  transition: font-size .5s ease;
  font-size: 1.2em;
}

.footersecondrow {
  text-align: center;
}

.footersecondrow .footer-navigation li {
  list-style: none;
  display: inline-block;
  padding: .5em;
}

.footersecondrow .footer-navigation li a {
  font-family: "Lilita One", cursive;
  color: #4e5356;
  text-decoration: none;
}

.footersecondrow .footer-navigation li a:hover {
  color: #64baa1;
}

.footerthirdrow {
  width: 100%;
  margin: auto;
  border-top: 1px solid #4e5356;
}

.footerthirdrow span {
  text-align: center;
  width: 100%;
  display: block;
  margin-top: 2em;
}

.herobanner {
  padding: 20vh 0;
  background: #0d2b249e url(/salmonrivers/img/banner.jpg);
  background-position: center;
  background-size: cover;
  background-blend-mode: darken;
}

.bannercontent {
  width: 100%;
  color: #ffffff;
  line-height: 1.5em;
  font-size: 1.3em;
}

.bannercontent p {
  margin: 1em;
  text-align: justify;
}

.weathersummary-section {
  padding: 1em;
}

.weathersummary-section .weathersummary {
  background: #ffc;
  background: #ffc;
  padding: 20px;
  max-width: 400px;
  margin: auto;
  font-family: "Comic Neue", cursive;
  font-size: 1.5em;
  /* Firefox */
  /* Safari+Chrome */
  -webkit-box-shadow: 5px 5px 7px rgba(33, 33, 33, 0.7);
  /* Opera */
  box-shadow: 5px 5px 7px rgba(199, 170, 170, 0.7);
}

.weathersummary-section .weathersummary .weathersummaryheader, .weathersummary-section .weathersummary .coltitle {
  width: 100%;
  display: block;
  margin: auto;
  text-align: center;
}

.sectionflex {
  padding: 1em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.sectionflex div {
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
}

.featured-img img {
  display: block;
  margin: auto;
  width: 80%;
  min-width: 300px;
}

.gallery {
  padding: 1em;
}

.gallery h2 {
  text-align: center;
  display: block;
  margin: auto;
  padding-bottom: 1em;
}

.gallery .gallery_container {
  width: 100%;
  display: block;
}

.gallery .gallery_container img {
  display: block;
  margin: auto;
  width: 80%;
}

.sectiongrid {
  padding: 1em;
  margin-top: -73px;
}

.sectiongrid h2 {
  display: block;
  width: 100%;
  margin: auto;
  text-align: center;
  padding-bottom: 2em;
}

.sectiongrid .ourcustomer_container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  grid-gap: 2em;
}

.sectiongrid .ourcustomer_container img {
  display: block;
  margin: auto;
  width: 100%;
  padding-bottom: .5em;
}

.sectiongrid .ourcustomer_container .review_author {
  font-family: "Pacifico", cursive;
  font-size: .9em;
  font-style: italic;
}

footer {
  padding: 1em;
  border-top: 1px solid #00000029;
}

.footerfirstrow {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.footerfirstrow div {
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
}

.footerfirstrow .footermap, .footerfirstrow .footersocial {
  margin-bottom: 2em;
  text-align: center;
}

.social-ul {
  padding-left: 0;
  list-style: none;
  color: #131424;
}

.social-ul li {
  display: inline-block;
  line-height: 20px;
  padding-left: 5px;
  padding-right: 5px;
  font-size: 1.9em;
}

.social-ul .fab {
  color: #4e5356;
}

.connect-us {
  padding-left: 0;
  padding-top: .2em;
  list-style: none;
  color: #131424;
}

.connect-us li {
  display: block;
  line-height: 20px;
  padding-left: 5px;
  padding-right: 5px;
  font-size: 1.3em;
  padding-top: .5em;
}

.connect-us .fas {
  color: #4e5356;
}

.connect-us .fa-envelope:before, .connect-us .fa-phone-volume:before {
  padding-right: .21em;
}

.fa-facebook:hover, .fa-twitter:hover, .fa-instagram:hover, .fa-pinterest:hover, .fa-youtube:hover, .fa-envelope:hover, .fa-phone-volume:hover {
  color: #64baa1;
}

.greenshade {
  background: #64baa13d;
}

.footermap .map-wrapper {
  width: 100%;
}

.footermap iframe {
  width: 100%;
  max-width: 700px;
  height: 300px;
}

@-webkit-keyframes sliders {
  0% {
    left: 0%;
  }
  20% {
    left: 0%;
  }
  25% {
    left: -100%;
  }
  45% {
    left: -100%;
  }
  100% {
    left: -200%;
  }
}

@keyframes sliders {
  0% {
    left: 0%;
  }
  20% {
    left: 0%;
  }
  25% {
    left: -100%;
  }
  45% {
    left: -100%;
  }
  100% {
    left: -200%;
  }
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

figure {
  margin: 0;
  font-weight: 100;
}

div#captioned-gallery {
  width: 100%;
  overflow: hidden;
}

figure.slider {
  position: relative;
  width: 500%;
  font-size: 0;
  -webkit-animation: 30s sliders infinite;
          animation: 30s sliders infinite;
}

figure.slider figure {
  width: 20%;
  height: auto;
  display: inline-block;
  position: inherit;
}

figure.slider img {
  width: 100%;
  height: auto;
}

figure.slider figure figcaption {
  position: relative;
  bottom: 0;
  background: rgba(0, 0, 0, 0.4);
  color: #fff;
  width: 80%;
  font-size: 2rem;
  padding: .6rem;
  text-align: center;
  display: block;
  margin: auto;
  top: -55px;
}

.cards {
  padding: 1em;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  justify-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  grid-gap: 2em;
}

.cards section {
  text-align: center;
}

.cards section img {
  display: block;
  width: 100%;
  margin: auto;
}

.cards section h2 {
  -webkit-margin-after: 0em;
          margin-block-end: 0em;
}

.cards section span {
  width: 100%;
  display: block;
}

.cards section .cards-bio {
  text-align: justify;
}

.cards section .card-professional {
  font-style: italic;
}

.cards section .card-email {
  padding-bottom: .5em;
}

.sectioncontact {
  padding: 1em;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  justify-items: center;
  grid-gap: 1em;
}

.sectioncontact .map-wrapper {
  width: 100%;
}

.sectioncontact .map-wrapper iframe {
  width: 100%;
  max-width: 700px;
  height: 300px;
}

.labelcontainer {
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-grid-columns: 1fr 2fr;
      grid-template-columns: 1fr 2fr;
  grid-gap: 2px;
  padding: 5px;
  color: #3F3F3F;
}

.labelcontainer input, .labelcontainer select {
  border: 2px solid #aaa;
  border-radius: 4px;
  height: 30px;
  width: 100%;
}

.labelcontainer input, .labelcontainer textarea, .textcontainer {
  width: 100%;
  padding: 0px;
  -ms-grid-column: 2;
  grid-column: 2/2;
  font-size: 16px;
}

.labelcontainer label {
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1/2;
  text-align: left;
  font-size: 16px;
  font-weight: bold;
}

.labelcontainer textarea {
  height: 200px;
  border: 2px solid #aaa;
  border-radius: 4px;
}

.labelcontainer input[type=submit] {
  padding: 8px;
  background-color: #83D16B;
  text-transform: uppercase;
  height: auto;
  font-weight: bold;
}

.labelcontainer input[type=submit]:hover {
  background-color: #3F3F3F;
  color: #FDDD00;
  cursor: pointer;
}

.section-thanks {
  padding: 1em;
}

.price-wrapper ul {
  -webkit-margin-before: 0em;
          margin-block-start: 0em;
  -webkit-padding-start: 0px;
          padding-inline-start: 0px;
}

.river-level {
  font-size: 1.2em;
  font-family: "Lilita One", cursive;
}

.credit-section {
  padding: 1em;
}

.credit-section ul {
  -webkit-margin-before: 0em;
          margin-block-start: 0em;
}

.credit-section span {
  font-weight: bold;
}

@media only screen and (min-width: 37.5em) and (min-width: 37.5em) {
  header {
    -ms-grid-columns: 1fr 4fr;
        grid-template-columns: 1fr 4fr;
  }
  .mainlogo {
    margin: 0px;
  }
  .navigation {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
  .bannercontent {
    width: 80%;
    display: block;
    margin: auto;
    line-height: 2em;
  }
  .sectionflex div {
    -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
  }
  .sectiongrid .ourcustomer_container {
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
  }
  .footersecondrow {
    text-align: right;
  }
  .footersecondrow .footer-navigation li {
    padding: 1em;
  }
  .footerfirstrow div {
    -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
  }
  .footerfirstrow .footermap, .footerfirstrow .footersocial {
    text-align: left;
  }
  .cards {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
  }
  .sectioncontact {
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
  }
}

@media only screen and (min-width: 60em) and (min-width: 60em) {
  header {
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
  }
  .sectiongrid .ourcustomer_container {
    -ms-grid-columns: 1fr 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr 1fr;
  }
  .bannercontent {
    width: 50%;
    margin: 0px;
  }
  .cards {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr;
  }
}
/*# sourceMappingURL=style.css.map */