body {
    display: grid;
    grid-template-rows: auto 180px auto auto auto;
    grid-template-areas: "aside"
                         "hd"
                         "navi"
                         "main"
                         "footer";
    
}
aside {
    grid-area: aside;
    background-color: #FEE500; 
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex: auto;
    text-align: center;
}

.friday {
    text-align: center;
    width: 100%;
    font-size: 1.3rem;
    padding: 20px;
    font-family: 'Arvo', serif;

}

header {
    grid-area: hd;
    background-color: #fbfbfb; 
    display: flex;
    flex-wrap: wrap;
    flex: auto;
    flex-direction: column;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: center;

}




#logoweb img{
    width: 170px;

}

#webname {
    font-family: 'Montserrat', sans-serif;
    color: #3F3F3F;
    text-align: center;
}

#webitalics {
    font-style: italic;
}

.navi li:first-child {
    display: block;
    padding: 15px;
}
.navi li {
	display: none;
}

.responsive li {
    display: block;
    padding: 5px;
}
.responsive li:hover{
    background-color: #3F3F3F;
}

nav li a:hover {
    color: #FDDD00;

}

.active a, .active {
    color: #FDDD00;
    background-color: #3F3F3F;
}

nav li a {
    text-align: center;
    padding: 0px;
    text-decoration: none;
    font-size: 1.2rem;
    color: #000000;
    font-family: 'Montserrat', sans-serif;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

nav {
    grid-area: navi;
    text-align: center;
    background-color: #83D16B;
}

main{
    background-color: white;
    grid-area: main;
    max-width: 1200px;
    width: 100%;
    margin: auto;
}

#idaho h2{
    text-align: center;
    background-color: white;
    color: #3F3F3F;
    font-family: 'Montserrat', sans-serif;
    margin: 0px;
    padding: 15px;
}

#weathergallery h2 {
    text-align: left;
    background-color: white;
    color: #3F3F3F;
    font-family: 'Montserrat', sans-serif;
    margin: 0px;
    padding: 15px;
}
.sections {
    margin-bottom: 20px;
    font-family: 'Arvo', serif;
    font-size: 1.2rem;;
    font-weight: bold;
    text-align: center;
    color: #3F3F3F;
}

.forecast, .sitemapfooter {
    display: none;
}


.bannercontainer{
    width: 100%;
    /* background: url("../images/banner.png");
    background-size: cover !important;
    height: 400px; */
}

.bannercontainer picture img{
    width: 100%;
}

.weathersummary {
    max-width: 400px;
    width: 100%;
    background-color: rgba(210,213,218, 0.8);
    position: absolute;
    top: 375.4px;
    left: 20px;
    display: block;
    margin: auto;
    border-radius: 15px;
    padding: 20px;
}

.weathersummaryheader, .sectionheader, .articleheader, .footertitle {
    font-size: 1.3rem;
    width: 100%;
    display: block;
}

.articleheader {
    font-weight: bold;
}

.articletext {
    text-indent: 20px;
    padding-right: 15px;
    margin-block-start: .5em;
}

.sectionheader {
    text-align: center;
}

.coltitle {
    display: flex;
    flex-direction: row;
    padding: 5px;

}

.title, .info {
    flex-basis: 50%;
    
}

.title {
    text-align: right;
    font-size: 18px;
}

.info {
    text-align: left;
    margin-left: 5px;
    font-size: 18px;
}

.flex {
	display: flex;
    flex-direction: row;
    padding-top: 10px;
}

.col {
	flex: 1 1 100%;
	border-top: 1px solid #333;
	border-bottom: 1px solid #333;
	border-left: 1px solid #333;
	background-color: #78ab78;
	font-size: 13px;
	text-align: center;
}

.flex div:last-child {
	border-right: 1px solid #333;
}

.label {
	display: block;
	padding: 5px;
	font-weight: 700;
	font-size: 15px;
	border-bottom: 1px solid #3F3F3F;
	background-color: #D2D5DA;
}

.flex div img {
	border-radius: 100px;
	padding: 5px;
}

.data {
	display: block;
	padding: 0 5px 5px;
}

.articlemessage {
    flex-basis: 70%;
    text-align: justify;
    font-weight: normal;
    padding:20px;
}

.firstfooter {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    width: 100%;
    height: 100%;
}

.sitemapfooter, .contactusfooter {
    flex-basis: 100%;
    padding: 10px;
    text-align: justify;
}

#socialmedia {
    list-style: none;

}

#socialmedia li {
    display: inline-block;
    padding: 5px;

}
.footertitle {
    font-weight: bold;
}


footer {
    grid-area: footer;
    background: #D2D5DA;
    color:#3F3F3F;
    font-family: 'Arvo', serif;
    width: 100%;
    font-size: 16px;
    line-height: 1.5rem;
    width: 100%;
    max-width: 1200px;
    margin: auto;
}
.footerstyle{
    text-align: center;
}

.footerstyle a {
    color:#3F3F3F;
    
}

#lastModified{
    color: #3F3F3F;
    text-align: center;
}

/*Gallery*/
.imagecontainer {
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: auto;
    grid-gap: 2px;
}

.imagecol {
    display: grid;
    grid-gap: 2em;
    align-items: center;
    grid-template-columns: auto;
    justify-content: center;
  }

  .imagecol img {
      width: 100%;
  }
  
  .animate{
    opacity: 0;
    transition: opacity 250ms ease-in;
  }
  
  .animate.appear {
    opacity: 1;
  }

  figure {
    border: 1px solid #333;
  }

  figcaption {
    color:#3F3F3F;
    font-family: 'Arvo', serif;
    font-weight: bold;
    padding: 3px;

  }

