@media only screen and (min-width: 60em) {
    .footerstyle, #lastModified  {
		font-size: 16px;
    }
    
    .active a {
        color: #FDDD00;
        background-color: #3F3F3F;
    }

    #logoweb{
        width: 300px;
        text-align: right;
    }
    nav {
        text-align: center;
        grid-area: navi;
        background-color: #83D16B;
    }

    nav ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }
    
    nav li a {
        display: block;
        padding: 20px;
    }

    .navi li {
        display: block;
    }

    nav li a:hover {
        background-color: #3F3F3F;
    }

    .navi li:first-child {
		display: none;
    }
    
    #logoweb img{
        width: 180px;
    
    }

    #webname{
        width: 350px;
    }
}