@media only screen and (min-width: 37.5em) {
	.footerstyle, #lastModified  {
		font-size: 14px;
	}

	nav li a {
        display: block;
        padding: 10px;
	}
	
	.navi li:first-child {
		display: block;
		padding: 10px;
	}
	
}