body {
    display: grid;
    grid-template-rows: 180px auto auto auto;
    grid-template-areas: "hd"
                         "navi"
                         "main"
                         "footer";
    
}

header {
    grid-area: hd;
    background-color: #fbfbfb; 
    display: flex;
    flex-wrap: wrap;
    flex: auto;
    flex-direction: column;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: center;

}

#logoweb img{
    width: 170px;

}

#webname {
    font-family: 'Montserrat', sans-serif;
    color: #3F3F3F;
    text-align: center;
}

#webitalics {
    font-style: italic;
}

.navi li:first-child {
    display: block;
    padding: 15px;
}
.navi li {
	display: none;
}

.responsive li {
    display: block;
    padding: 5px;
}
.responsive li:hover,.responsive li a:hover{
    background-color: #3F3F3F;
    color: #FDDD00;
}

nav li a:hover {
    color: #FDDD00;

}

.active a, .active {
    color: #FDDD00;
    background-color: #3F3F3F;
}

nav li a {
    text-align: center;
    padding: 0px;
    text-decoration: none;
    font-size: 1.2rem;
    color: #000000;
    font-family: 'Montserrat', sans-serif;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

nav {
    text-align: center;
    background-color: #83D16B;
}

main{
    background-color: white;
    grid-area: main;
    max-width: 1200px;
    width: 100%;
    margin: auto;
}

#idaho h2{
    text-align: center;
    background-color: white;
    color: #3F3F3F;
    font-family: 'Montserrat', sans-serif;
    margin: 0px;
    padding: 5px;
}

.sections {
    border-style: dotted;
    padding: 8px;
    margin: 8px;
    font-family: 'Arvo', serif;
}

.firstfooter {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    width: 100%;
    height: 100%;
}

.sitemapfooter, .contactusfooter {
    flex-basis: 45%;
    padding: 10px;
    text-align: justify;
}

.footertitle {
    font-weight: bold;
}


footer {
    grid-area: footer;
    background: #D2D5DA;
    color:#3F3F3F;
    font-family: 'Arvo', serif;
    width: 100%;
    font-size: 16px;
    line-height: 1.5rem;
    width: 100%;
    max-width: 1200px;
    margin: auto;
}
.footerstyle{
    text-align: center;
}


.footerstyle a {
    color:#3F3F3F;
    
}

#lastModified{
    color: #3F3F3F;
    text-align: center;
}

