@media only screen and (min-width: 37.5em) {
	.footerstyle, #lastModified  {
		font-size: 14px;
	}

	nav li a {
        display: block;
        padding: 10px;
	}
	
	.navi li:first-child {
		display: block;
		padding: 10px;
	}

	.weathersummary {
		max-width: 400px;
		width: 100%;
		background-color: rgba(210,213,218, 0.8);
		position: absolute;
		top: 60px;
		left: 60px;
		border-radius: 15px;
		padding: 20px;
		margin: 0px;
	
}

	/* Gallery */
	.imagecontainer {
		grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));

	}

	.imagecol {
		display: grid;
		grid-gap: 2em;
		align-items: center;
		grid-template-columns: auto;
		justify-content: center;
	  }
	  
	  .animate{
		opacity: 0;
		transition: opacity 250ms ease-in;
	  }
	  
	  .animate.appear {
		opacity: 1;
	  }
	
	/* Storm Center */

	.labelcontainer {
		grid-template-columns: 1fr 1fr 2fr 1fr;
	}

	.labelcontainer input, .labelcontainer textarea, .textcontainer {
		grid-column: 3/4;
	}

	.labelcontainer label {
		grid-column: 2/2;
	}

/*Home Page*/
	.towns{
		/* grid-template-columns: repeat(2, 1fr);
		padding: 1em; */
		display: flex;
		flex-wrap: wrap;
		
	}
	
	.towns section{
		width: 100%;
		display: flex;
		margin-bottom: 20px;
	
	}

	.towns section div{
		height: 200px;
		margin: auto;
		width: 100%;
	}

	.towns img{
		max-height: 200px;
		margin: 20px;
	}

	.towns section:nth-child(odd){
		flex-direction: row-reverse;

	}

}